body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#etchASketch {
    position: relative;
    width: 60vw;
    height: calc(40vw + 100px);
    background-color: red;
    border: solid 3px black;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

#screen {
    background-color: #666;
    width: 90%;
    height: 70%;
    border: solid 2px black;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: -50px;
}

.dial {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #bbb;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
    border: 2px solid #333;
}

#horizontalDial {
    left: 20%;
}

#verticalDial {
    right: 20%;
}

.dial::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 20px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

@media (max-width: 768px) {
    #etchASketch {
        width: 90vw;
        height: calc(70vw + 100px);
    }

    .dial {
        width: 100px;
        height: 100px;
    }
}
